version: '3'
services:

  gateway:

    build: ./gateway
    ports:
      - '8000:8000'
    depends_on:
      - backend

  frontend:
    build: ./frontend
    ports:
      - '3000:3000'
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - '5001:5001'
    environment:
      - MONGO_URI=mongodb+srv://JulienT:r9XTBZ2qbrUFc89Z@cluster0.i5unogc.mongodb.net/
    depends_on:
      - mongo

  mongo:
    image: mongo
    ports:
      - '27018:27017'

  notifications:
    build: ./microservices/notifications
    ports:
      - '3001:3001'

  stock-management:
    build: ./microservices/stock-management
    ports:
      - '3002:3002'